@charset "UTF-8";
/**colores**/
/**tamaño fuente**/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  list-style-type: none; }

body {
  background-color: #afd2d8;
  font-family: "montseerat", sans-serif; }

main {
  background-image: url(../assets/img/men-sports-bicycle-sky-motorcycle-vehicle-111929-wallhere.com.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0%;
  padding: 11%; }

img {
  width: 200px;
  height: 700px;
  border-radius: 15px;
  justify-content: flex-end; }

.fotoin {
  width: 223px;
  height: 242px;
  border-radius: 15px;
  justify-content: flex-end; }

.card-img-top {
  height: 200px;
  justify-content: flex-end; }

.artoculocontenido p {
  text-align: none;
  margin: 2%;
  padding: 2%; }

.contenido {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-items: center; }

.articulo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.articulocontenido {
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 3rem;
  background-color: rgba(7, 125, 204, 0.438);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

footer {
  width: 100%;
  background-color: #1b75b1;
  font-weight: bold;
  margin-top: 2rem;
  border: #cac2ba; }

footer p {
  text-align: center;
  background-color: #b8e6e6;
  color: #585751;
  margin: 0%;
  padding: 2%; }

.img_footer {
  width: 25px;
  height: 25px;
  align-items: center; }

@media (min-width: 992px) {
  footer {
    width: 100%;
    background-color: #1b75b1;
    font-weight: bold;
    margin-top: 2rem;
    border: #cac2ba; }
  footer p {
    text-align: center;
    background-color: #b8e6e6;
    color: #585751;
    margin: 0%;
    padding: 2%; }
  .img_footer {
    width: 25px;
    height: 25px; } }

.formulario2 {
  display: block;
  padding-top: 10px;
  text-align: center; }

.form_contact {
  padding-left: 0%; }

form {
  text-align: center;
  width: 300px;
  padding: 16px;
  border-radius: 10px; }

form label {
  width: 72px;
  font-weight: bold;
  display: inline-block; }

form button {
  width: 100%;
  padding: 8px;
  margin-top: 2rem;
  background-color: blueviolet;
  border-radius: 5px;
  display: block;
  color: aliceblue; }

p {
  width: 100%;
  padding: 10%;
  text-align: center; }

h2 {
  text-align: center;
  padding: 7%; }

h1 {
  text-align: center;
  padding: 1%; }

.grid-container {
  width: 100%;
  display: grid; }

@media (min-width: 992px) {
  .grid-container {
    width: 100%;
    height: 1136px;
    display: grid;
    grid-template-areas: "foto foto foto" "foto foto foto" "foto foto foto" "foto foto foto"; } }

.titulo {
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
  background-color: #7171d8;
  color: blue; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.barranav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 15px;
  align-items: center;
  justify-items: center; }

.barranav__items {
  display: inline-block; }

.linknav {
  color: #1b75b1;
  display: inline-block; }

.submenu {
  display: none;
  position: absolute; }

.submenu__items {
  padding: 10px; }

.submenu__items a {
  color: #0c0501; }

.barranav__items:hover ul {
  display: block; }

.linknav:hover {
  background-color: #481ce7; }
